<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
    </head>
    <body class="{{ bodyClass }}">
        <main class="article il-formatted">
        <h1>{{ pageTitle }}</h1>
        {{ content }}
        </main>
        {% include sidenav.liquid %}
    </body>
</html>