<header>
        <a href="https://illinois.edu"><img src="/img/menu/illinois{{ menu }}.png" alt="University of Illinois"></a>
        <p class="title"><a href="/">2020 Impact Report</a><br><a href="https://education.illinois.edu">College of Education</a></p>
        </div>
        <nav>
        <a href="{{ previousLink }}/index.html" class="previous">Previous</a>
        <a href="../#toc" class="home">Home</a>
        <a href="{{ nextLink }}/index.html" class="next">Next</a>
        </nav>
</header>