<header>
<il-header>
    <div slot="wordmark">
        <il-unit-wordmark>
            <p class="il-primary-unit"><a href="https://education.illinois.edu">College of Education </a></p>
            <h1><a href="/">2021 Impact Report</a></h1>
        </il-unit-wordmark>
    </div>
    <nav slot="links" class="il-links" aria-label="Top">
        <ul>
            <li><a href="https://give.education.illinois.edu">Give Now</a></li>
        </ul>
    </nav>
    <il-nav slot="navigation">
        <il-nav-link>
            <a href="/index.html#toc">Home</a>
        </il-nav-link>
        <il-nav-link>
            <a href="{{ previousLink }}/index.html">Previous</a>
        </il-nav-link>
        <il-nav-link>
            <a href="{{ nextLink }}/index.html">Next</a>
        </il-nav-link>
    </il-nav>
</il-header>
</header>