<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <title>{{ pageTitle }} | Impact Report 2023 | College of Education | U of I</title>
    </head>
    <body class="{{ bodyClass }}">
        {% include menu.liquid %}
        <main class="splash il-formatted">
        <h1 class="visuallyhidden">{{ pageTitle }} </h1>
        <img src="/img/backgrounds/{{ backgroundImage }}" alt="" style="width: 100%;">
        </main>
    </body>
</html>