<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <title>Impact Report 2023 | College of Education | U of I</title>
    </head>
    <body>
        {% include menu.liquid %}
        <main class="title il-formatted">
            <h1 class="il-invisible">Impact Report 2023</h1>
            <a href="/message_dean_mouza/index.html"><img src="/img/cover.jpg" alt="Impact Report 2023" class="titleimage" /></a>
        </main>
        {% include sidenav.liquid %}
    </body>
</html>