<!doctype html>
<html lang="en">
    <head>
        {% include head.liquid %}
        <title>{{ pageTitle }} | Impact Report 2022 | College of Education | U of I</title>
    </head>
    <body>
        <main class="title il-formatted">
            <h1 class="il-invisible">{{ pageTitle }}</h1>
            <a href="/message_dean_mouza/index.html"><img src="/img/great_minds_title.png" alt="{{ pageTitle }}" class="titleimage" /></a>
            <a id="toc"></a>
            <div class="contents">
            {{ content }}
            </div>
        </main>
        {% include sidenav.liquid %}
    </body>
</html>