.arrows {

    .next {
      position: fixed;
      bottom: 20px;
      width: 48px;
      height: 48px;
      flex-shrink: 0;
      color: white;
      background: var(--il-blue);
      fill: white;
      border-radius: 50%;
        transform: rotate(90deg);
    right: 50px;
  }

  .back {
    position: fixed;
    bottom: 20px;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    color: white;
    background: var(--il-blue);
    fill: white;
    border-radius: 50%;
      transform: rotate(270deg);
    left: 50px;
  }

  .il-icon {
    font-size: 118px;
  }
}

@media only screen and (max-width: 1378px) {
    .arrows {
        .next {
            top: initial;
            bottom: 0;
        }
    
      .back {
        top: initial;
        bottom: 0;
      }
    }

    .article {
        padding-bottom: 110px;
    }
}
