.contents {
    background: $cloud_base;
    h2 {
        text-align: center;
        color: $blue_base;
        font-size: 3.7em;
        line-height: 1.3em;
        border-top: 3px solid $orange_base;
        border-bottom: 3px solid $orange_base;
        font-weight: bold;
    }

    p {
        padding: 20px 40px;
        margin-top: 60px;

        a {
            text-decoration: none;
        }
    }

    ul {
        text-align: left;
        list-style: none;
        font-size: 1.3em;

        li {
            margin-bottom: 20px;
            list-style: none;
        }
        a {
            text-decoration: none;
            font-weight: normal;
        }
    }
}