header {
    border-bottom: 5px solid var(--il-orange);
    padding: 40px;
    img#header-image {
        max-width: 100%;
        width: 294px;
    }
    p {
        color: var(--il-blue--il-blue, #13294b);
        font-family: var(--il-font-sans);
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;

        a {
            color: var(--il-blue--il-blue, #13294b);
            text-decoration: none;
            font-family: var(--il-font-sans);
        }
    }
}

@media (min-width: 800px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--menu-width);
        padding: 0;
        border-bottom: none;
        height: 100%;
        background: var(--heading-background);
        border-right: 2px solid #d5d3d3;

        p {
            display: none;
        }

        img#header-image {
            padding-left: 20px;
            width: calc(var(--menu-width) - 20px);
            border-bottom: 5px solid var(--il-orange);
            background: white;
        }

        a:hover img#header-image, a:focus img#header-image {
            filter: grayscale(80%);
        }
    }
}
