header {
    border-bottom: 5px solid var(--il-orange);
    padding-bottom: 2.5rem;
    margin-bottom: 3.75rem;
    img {
        max-width: 100%;
    }
    p {
        color: var(--il-blue--il-blue, #13294b);
        font-family: "Source Sans Pro";
        font-size: 1.5625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8125rem;
    }
}
