.crea ilw-hero {
    --ilw-hero--height: 430px;
}

.crea ilw-hero h1 {
    padding-top: 40px;
}

.indigenous ilw-hero {
    --ilw-hero--height: 430px;
}

.crea ilw-hero h1 {
    padding-top: 40px;
}

@media (min-width: 800px) {
    .crea ilw-hero h1 {
        padding-top: initial;
    }
    .crea ilw-hero h1 {
        padding-top: initial;
    }        
}
