ul.imagelist {
    list-style: none;
    padding-top: 40px;

    li {
        clear: both;
        margin-bottom: 50px;
        list-style: none;
        margin-left: 0;

        img {
            float: left;
            padding-right: 45px;
            padding-bottom: 15px;
            width: 300px;

            &.simple {
                width: 100px;
                padding-right: 15px;
                padding-top: 8px;
                padding-bottom: 3px;
            }
            &.simple.double {
                width: 215px;
            }

            &.round {
                border-radius: 50%;
                padding: 0;
                margin-right: 40px;
            }
        }

        .header {
            font-weight: bold;
            font-size: 1.25rem;
            margin-bottom: 0;

            a {
                color: var(--il-orange);
                text-decoration: none;
            }

            a:hover, a:focus {
                color: var(--il-blue);
            }
        }

        .subheader {
            font-size: 1.25rem;
            font-weight: bold;
            padding: 1rem 0;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}

div.program {
    display: flex; 
    
    div {
        flex: 75% 1 0;

        h2:first-child {
            margin-top: 1.5em;
        }
    }

    ul {
        flex: 25% 1 0;
    }
}

@media only screen and (max-width: 1000px) {
    div.program {
        display: block; 
    }
}

div.quote-picture {
    display: flex;

    div {
        max-width: 25%;
        margin-top: 30px;

        img {
            max-width: 100%; 
            width: 100%;
        }
    }

    il-quote {
        flex: 75% 0 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    div.quote-picture {
        display: block;
    
        div {
            max-width: initial;
            margin-top: 30px;
        }
    
        il-quote {
            margin-top: 20px;
        }
    }    
}

@media only screen and (min-width: 1100px) {
    ul.imagelist {
        li {
            img {
                padding-bottom: 95px;
            }
        }
    }
}
