.il-formatted ul.imagegrid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit,200px);
    text-align: center;
    grid-gap: 20px;
    padding-left: 0;

    
    &.outreach {
        grid-template-columns: repeat(auto-fit,300px);
        justify-content: center;
    }

    &.wide {
        grid-template-columns: repeat(auto-fit,450px);
        justify-content: center;
    }

    &.extrawide {
        grid-template-columns: repeat(auto-fit,600px);
        grid-gap: 50px;
    }

    li {
        list-style: none;
        margin: 0;

        a {
            text-decoration: none;
            font-weight: 700;
        }
    }

    img {
        width: 100%;
        max-width: 100%;
    }
    
    &.text {
        text-align: left;
        

        li {
            background: $cloud_base;
            padding: 10px;

            &.nopadding {
                padding: 0;
            }

            h3 {
                color: $cloud_base;
                background: $blue_base;
                padding: 10px;
                margin: 0;
                text-align: center;
            }

            .pi {
                font-weight: bold;
            }

            p {
                padding: 0 10px;
            }
        }
    }

    &.outreach {
        padding: 30px 0;
        background: #D9E3F4;

        li {
            background: var(--il-cloud);
            padding: 30px;
        }
    }
}

@media only screen and (max-width: 800px) {
    ul.imagegrid {
        display: block;

        li {
            margin-bottom: 20px;
        }
    }
}