body {
    margin: 0;
    padding: 0;

    img {
        max-width: 100% !important;
    }
}

nav.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: var(--il-font-sans);
        font-size: 1.125rem;
        font-style: normal;
        color: var(--il-blue);
    }
}

nav.arrows {
    text-align: center;
    padding-bottom: 20px;
}

nav.arrows a {
    color: var(--il-blue);
    border: 2px solid var(--il-blue);
    display: inline-block;
    border-radius: 0.25rem;
}

nav.arrows a.back {
    padding: 4px 4px 0 0;
}

nav.arrows a.next {
    padding: 4px 0 0 4px;
}

nav.arrows a:hover,
nav.arrows a:focus {
    background: var(--il-blue);
    color: white;
}
