body.blue header {
    background: $blue_base;

    a:hover, a:focus {
        color: $orange_base;
    }
    
    a.previous:hover {
        background-image: url(/img/icons/Orange_Back_Solid.svg);
    }
    a.home:hover {
        background-image: url(/img/icons/Orange_Home_Solid.svg);
    }
    a.next:hover {
        background-image: url(/img/icons/Orange_Next_Solid.svg);
    }
}

header {
    background: $orange_base;
    height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    img {
        height: 46px;
        float: left;
        padding: 12px 20px;

        &.icon {
            margin: 0;
            padding: 0;
        }
    }

    p {
        margin: 0;
        padding-top: 10px;
        font-weight: bold;
        font-size: 1.3em;
        color: white;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: white;
    }

    nav {
        float: right;
        padding-right: 10px;
        padding-top: 10px;

        a {
            height: 50px;
            width: 50px;
            display: inline-block;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

            &.previous {
                background-image: url(/img/icons/White_Back_Solid.svg);
            }
            &.home {
                background-image: url(/img/icons/White_Home_Solid.svg);
            }
            &.next {
                background-image: url(/img/icons/White_Next_Solid.svg);
            }
        }

        a.previous:hover {
            background-image: url(/img/icons/Blue_Back_Solid.svg);
        }
        a.home:hover {
            background-image: url(/img/icons/Blue_Home_Solid.svg);
        }
        a.next:hover {
            background-image: url(/img/icons/Blue_Next_Solid.svg);
        }
    }
}

@media only screen and (max-width: 500px ) {
    header p {
        display: none;
    }
}
