.numbers {
    padding: 50px 30px;
    max-width: var(--il-content-max-width);
    margin: auto;

    .number-grid {
        display: flex;
        align-items: flex-start;

        a.button {
            margin: 40px 0 0 40px;
        }
    }
    
    h1 {
        font-family: "Fjalla One",sans-serif;
        font-size: calc(2em + 2.5vw);
        line-height: calc(1em + 2.5vw);
        font-weight: normal;
        text-transform: uppercase;
        color: $blue_base;
    }

    p.tagline {
        font-size: calc(1em + 1.25vw);
    }

    h2 {
        background-color: var(--il-blue);
        color: white;
        border-bottom: thin solid var(--il-blue);
        padding: 10px 20px;
    }

    p {
        line-height: 1.8em;
    }

    li {
        line-height: 1.8em;
        margin-bottom: .4em;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
        text-align: center;
        justify-content: space-evenly;
        padding-left: 0;

        li {
            padding: 1vw;
            line-height: initial;
            list-style: none;

            span {
                font-size: 4em;
                font-weight: bold;
                display: block;
                color: var(--il-orange);
                text-align: center;
                font-family: var(--il-montserrat);
                padding-right: 40px;
            }
        }
    }
}

@media only screen and (max-width: 500px ) {
    .numbers {

        .number-grid {
            display: block;
    
            a.button {
                margin: initial;
            }
        }
    }  
}