.program-rankings ul li {
    list-style: none;
    margin-bottom: 15px;
}

.program-rankings ul li strong {
    font-size: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    padding-right: 4px;
    vertical-align: middle;
}