body.nofade .splash .full {
    padding-top: 200px;
    background: none;
}

body.centered .splash .full {
    padding: 200px 15vw 0 15vw;
    font-size: 2em;
}

body.narrow .splash .full .stats {
    max-width: 800px;
    padding-top: 200px;
    margin: auto;
}

body.top-background .splash {
    background-position: top;
}

// for ai
body.storm {
    background: #252525;

main {    
    h1 {
        color: #009FD4;
        font-size: 48px;
        line-height: 58px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        span {
            color: white;
        }
    }

    p {
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        max-width: 800px;
        color: white;
        text-transform: uppercase;
        font-size: 32px;
        line-height: 46px;
    }
}

}

.splash {
    display: flex;
    color: white;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .full {
        background: rgba(0,0,0,.35);
        width: 100%;
        padding: 5em 0;
        min-height: calc(100vh - 10em);

        h1 {
            font-size: 48px;
            color: white;
            line-height: normal;
        }

        h2, h3 {
            padding: 1em 0 0 0;
            color: white;
            line-height: normal;
        }

        h2 {
            font-size: 48px;
        }

        h3 {
            font-size: 36px;
        }

        li {
            font-size: 24px;
            line-height: normal;
        }

        .intro-text {
            font-size: calc(2em + 2vw);
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            color: white;
            line-height: normal;
            margin-top: 80px;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            text-align: center;
            justify-content: space-evenly;

            li {
                padding: 1vw;
                font-size: 24px;
                line-height: normal;
                list-style: none;
            }
        }
    }

    .left {       
        background: rgba(0,0,0,.35);
        width: 70%;
        padding: 50px 5vw 0 10vw;

        .intro-text {
            font-size: 3em;
            font-family: 'Fjalla One', sans-serif;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, 350px);
            text-align: center;

            li {
                padding: 1vw;
                font-size: 1em;
                line-height: normal;
                list-style: none;

                span {
                    font-size: 4em;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }

    .right {
        width: 30%;
        padding: 50px 2vw;
        background: rgba(19,41,75,.8);

        h2 {
            font-size: 2em;
            font-family: 'Fjalla One',sans-serif;
        }
        h2, h3 {
            color: #ff5532;
        }
    }
}

@media only screen and ( max-width: 1000px ) {
    .splash {
        display: block;

        .full {
            .intro-text {
                    padding: 0;
                }

            h2 {
                font-size: 1.25em;
                padding: 0 10px;
            }
            }
   
        .left {       
            width: initial;
            }
   
        .right {
            width: initial;
        }
    }

    body.centered .splash .full {
        padding: initial;
    }
   
}

@media only screen and (max-width: 500px ) {
    .splash .left .stats {
        display: block;
    }

    .splash .full .stats {
        display: block;
    }
}