div.student {
    display: flex;
    column-gap: 30px;
    margin-top: 30px;

    div {
        flex: 33% 1 0;
    }

    img {
        max-width: 100%;
    }
}

@media only screen and ( max-width: 1000px ) {
    div.student {
        display: block;
    }
}